/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    
}
@media (min-width: 1200px) and (max-width: 1300px) {
   
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    #meuArea .menuAreaHeader nav ul>li {
        font-size: 13px;
        margin-left: 12px;
    }
    #meuArea .menuAreaHeader nav ul>li a{
        font-size: 13px;
    }
    #meuArea .menuAreaHeader nav ul>li .dropdownMenuCustom ul li a {
        font-size: 13px;
    }
    #meuArea .languageDropDown select {
        font-size: 13px;
    }
}
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #meuArea .menuAreaHeader nav ul>li {
        font-size: 11px;
        margin-left: 4px;
    }
    #meuArea .menuAreaHeader nav ul>li a{
        font-size: 11px;
    }
    #meuArea .menuAreaHeader nav ul>li .dropdownMenuCustom ul li a {
        font-size: 11px;
    }
    #meuArea .languageDropDown select {
        font-size: 11px;
    }
    #meuArea .logoarea a {
        font-size: 17px;
    }
    
}


@media (max-width: 767px) {
    .hide_mobile{
        display: none;
    }
    .show_mobile{
        display: block !important;
    }
    .slicknav_menu {
        display: block;
    }
    header#meuArea {
        display: none;
    }
}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slicknav_nav ul.dropdwnCsutom{
        width: 99.5%;
    }
}

/* Extra small Device. */
@media (max-width: 575px) {
   
}


























